# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.DS_Store

# Local properties
local.properties

# Build outputs
app/build/
output/

# Keystore (keep private)
*.keystore
*.jks
!debug.keystore

# Built APKs
*.apk
output/
